@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .date_value {
    @apply bg-blue-900 w-4 md:w-6 md:p-1 text-sm md:text-base text-white rounded-md grid place-items-center;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
